APScheduler==3.6.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Deprecated==1.2.10
dnspython==2.0.0
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-PyMongo==2.3.0
flask-talisman==0.7.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.1.0
passlib==1.7.2
PyGithub==1.52
PyJWT==1.7.1
pymongo==3.11.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0
tzlocal==2.1
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
