.score-hover {
    position: absolute;
    /* right: -160px;
    top: 0px; */
    width: 170px;
    /* height: 1fr; */
    background-color: rgba(221, 221, 221, 0.753);
    display: none;
    padding: 8px;
    /* text-align: center;
    justify-content: center;
    justify-self: center; */
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

