<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="confirmed">
        <h2>Confirmed Data</h2>
        <p><a href="{{ url_for('confirmed_wk_avg', category='us_daily_cases')}}">US daily cases forecast</a></p>
        <p><a href="{{ url_for('confirmed_wk_avg', category='us_daily_deaths')}}">US daily deaths forecast</a></p>
        <p><a href="{{ url_for('confirmed_wk_avg', category='us_daily_hosps')}}">US daily hospitalizations forecast</a></p>
    </div>
    <div class="forecast">
        <h2>Forecast Data</h2>
        <p><a href="{{ url_for('forecasts_cleaned', category='us_daily_cases')}}">US daily cases forecast</a></p>
        <p><a href="{{ url_for('forecasts_cleaned', category='us_daily_deaths')}}">US daily deaths forecast</a></p>
        <p><a href="{{ url_for('forecasts_cleaned', category='us_daily_hosps')}}">US daily hospitalizations forecast</a></p>
    </div>

</body>
</html>